name: Automatic format code

on: [push]

jobs:
  auto-format:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: setup .NET 6
      uses: actions/setup-dotnet@v3.0.3
      with:
        dotnet-version: 6.0.x
    - name: build
      run: dotnet build
    - name: format
      run: dotnet format
    - name: check for changes
      run: |
        if git diff --exit-code; then
          echo "HAS_CHANGES=false" >> $GITHUB_ENV
        else
          echo "HAS_CHANGES=true" >> $GITHUB_ENV
        fi
    - name: commit and push
      if: ${{ env.HAS_CHANGES == 'true' }}
      shell: bash
      run: |
        git config --local user.name "github-actions[BOT]"
        git config --local user.email "a953195910@outlook.com"
        git add -u
        git commit -m "Automatic dotnet-format"
        git log -1
        remote_repo="https://${GITHUB_ACTOR}:${{secrets.GITHUB_TOKEN}}@github.com/${GITHUB_REPOSITORY}.git"
        git push "${remote_repo}" HEAD:${GITHUB_REF}
  
